$color: #fff;
$background-color: #244;
$button-hover-color: #366;
$button-checked-color: #488;
$outline-color: #9f9;

html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
button {
  &:focus,
  &:hover {
    background-color: $button-hover-color;
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 3px 2px $outline-color;
    }
}

a {
  color: $color;
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

body {
  font-size: 16px;
  font-family: sans-serif;
  background-color: $background-color;
  color: $color;
}

.hangman__image {
  border: .3vmin solid $color;

  & .hangman__part {
    stroke: $color;
    stroke-width: 4px;
    fill: none;
  }
}

#game {
  width: 100%;
  height: 100%;
}

ul {
  list-style-position: inside;
}

h1 {
  font-size: 3em;
  margin-bottom: .5em;
  font-weight: 400;
}

h2 {
  font-size: 2.2em;
  margin-bottom: .4em;
  font-weight: 400;
}

h3 {
  font-size: 1.7em;
  margin: .4em 0;
  font-weight: 400;
}

h4 {
  font-size: 1.4em;
  margin-bottom: .4em;
  font-weight: 400;
}

p,
ul {
  margin-bottom: .4em;
}


// menu ==============================================

.menu {
  width: 100%;
  height: 100%;
  padding: 3vmin;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
  'menu-header menu-header'
  'menu-description menu-description'
  'menu-image menu-menu';
  grid-gap: 1vmin;
  justify-items: center;
  align-items: center;

  & .hangman__image {
    max-width: 100%;
    max-height: 100%;
    flex-grow: 1;
    flex-shrink: 1;
  }
}

.menu__header {
  grid-area: menu-header;
}

.menu__description {
  grid-area: menu-description;
  font-size: 1.2em;
}

.image__container {
  grid-area: menu-image;
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__container {
  grid-area: menu-menu;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.nav__list {
  list-style-type: none;

  li {
    margin-bottom: 1em;
  }
}

.menu__link,
.game__over-button,
.keyboard-box__key {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .2em .3em;
  border: solid .3vmin $color;
  background-color: $background-color;
  color: $color;
  font-weight: 500;
  border-radius: 1vmin;
  font-size: 1.4em;
  width: 100%;
  text-align: center;
}

// game ==============================================

.game {
  width: 100%;
  height: 100%;
  padding: 2vmin 2vmin 0;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 2fr auto;
  grid-template-areas: 'infobar content' 'keyboard keyboard';
  grid-gap: 1vmin;

  & .hangman__image {
    max-width: 100%;
    max-height: 100%;
  }
}

.game__infobar {
  grid-area: infobar;
}

.game__fail-count {
  margin-right: 1vw;
  margin-bottom: 2vh;
  font-size: 1.3em;
}

.game__output {
  grid-area: content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game__word {
  margin-top: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 70vmin;
  padding: 1.2em;
  font-size: 1em;
  font-family: monospace;
  letter-spacing: .2em;
  border: .3vmin solid $color;
}

.keyboard-box {
  grid-area: keyboard;
  height: 100%;
  width: 85vw;
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: stretch;
  grid-gap: .5vmin;
  padding: .5vmin;
  border: solid .3vmin $color;
}

.key-row {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: .5vmin;
}

.key-cell {
  width: 100%;
  height: 100%;
}

.keyboard-box__key {
  font-size: 1.6em;
  width: 100%;
  height: 100%;
  margin: 0;

  &[aria-selected='true'] {
    pointer-events: none;
    background-color: $button-checked-color;
  }
}

// game over ============================================

.game__over-content {
  display: grid;
  grid-template-areas:
  'game-over-head game-over-head'
  'game-over-main game-over-main'
  'game-over-secondary game-over-secondary'
  'game-over-image game-over-nav';
  grid-gap: 1vmin;
  justify-items: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 1em;
  text-align: center;
  padding: 3vmin;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto auto 1fr;

  .game__over-image--container {
    grid-area: game-over-image;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hangman__image {
    max-width: 100%;
    max-height: 100%;
    flex-grow: 1;
    flex-shrink: 1;
  }
}

.game__over-content--big {
  grid-area: game-over-head;
  font-size: 1.6em;
  font-weight: 500;
}

.game__over-content--main {
  grid-area: game-over-main;
  font-size: 1.1em;
}

.game__over-content--secondary {
  grid-area: game-over-secondary;
  font-size: 1.1em;
}

.game__over-navigation {
  grid-area: game-over-nav;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

// about =============================================

.about {
  text-align: center;
  margin: 0 auto;
  max-width: 70em;
  padding: 2vmin;

  a:not(.menu__link) {
    text-decoration: underline;

    &:focus,
    &:hover {
      font-weight: 600;
      background-color: unset;
    }

    &:focus {
      outline: 0;
      box-shadow: 0 0 3px 2px $outline-color;
    }
  }

  .menu__link {
    width: unset;
  }

  nav {
    display: flex;
    justify-content: center;
    margin-top: 2em;
  }
}

@media screen and (orientation: portrait) {
  // menu ==============================================

  .menu {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 2fr 1fr;
    grid-template-areas: 'menu-header' 'menu-description' 'menu-image' 'menu-menu';
  }

  // game ==============================================

  .game {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: 'infobar' 'content' 'keyboard';
  }

  .game__infobar {
    flex-shrink: 1;
    text-align: center;
  }

  .keyboard-box {
    width: 100%;
  }

  // game over ============================================

  .game__over-content {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 2fr 1fr;
    grid-template-areas:
    'game-over-head'
    'game-over-main'
    'game-over-secondary'
    'game-over-image'
    'game-over-nav';

    .hangman__image {
      height: 45vw;
      width: 45vw;
      margin-top: 1vw;
      border: 1px solid $color;
    }
  }
}
