$color: #fff;
$background-color: #244;
$button-hover-color: #366;
$background-color-opaque: rgba(17, 34, 34, .7);

html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: sans-serif;
  background-color: $background-color;
  color: $color;
}

.game {
  width: 100%;
  height: 100%;
  padding: 2vmin 2vmin 0;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas: 'infobar content' 'keyboard keyboard';
  grid-gap: 1vmin;
}

.game__infobar {
  grid-area: infobar;
}

.game__title {
  font-size: 3.5em;
  margin-bottom: 2vh;
}

.game__fail-count {
  margin-right: 1vw;
  font-size: 2em;
}

.game__output {
  grid-area: content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game__hangman {
  height: 50vmin;
  width: 50vmin;
  border: .3vmin solid $color;

  & .hangman__part {
    stroke: $color;
    stroke-width: 4px;
    fill: none;
  }
}

.game__word {
  margin-top: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vmin;
  min-height: 8vmin;
  padding: 10px;
  font-size: 3.5vmin;
  font-family: monospace;
  border: .3vmin solid $color;
}

.keyboard-box {
  grid-area: keyboard;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: .5vmin;
  padding: .5vmin;
  width: 85vw;
  border: solid .3vmin $color;
}

.keyboard-box__key,
.game__message-button,
.game__reset {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 2px 5px;
  border: solid .3vmin $color;
  background-color: $background-color;
  color: $color;
  font-weight: bold;
  border-radius: 1vmin;

  &:hover {
    background-color: $button-hover-color;
  }
}

.keyboard-box__key,
.game__reset {
  font-size: 1.6em;
}

.game__message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: $background-color-opaque;
  opacity: 0;
  pointer-events: none;
  will-change: opacity;
  transition: opacity .2s;

  &.show {
    opacity: 1;
    pointer-events: auto;
  }

  .game__hangman {
    height: 30vmin;
    width: 30vmin;
    margin-top: 2vmin;
    border: 1px solid $color;
  }
}

.game__message-content {
  background-color: $background-color;
  border: solid .3vmin $color;
  border-radius: 1vmin;
  padding: 12px;
  font-size: 1.6em;
  text-align: center;
}

.game__message-content--big {
  font-size: 1.6em;
}

.game__message-content--bigger {
  font-size: 2.2em;
}

.game__message-button {
  margin-top: 2vmin;
  font-size: 1em;
}

@media screen and (orientation: portrait) {
  .game {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: 'infobar' 'content' 'keyboard';
  }

  .game__infobar {
    flex-shrink: 1;
    text-align: center;
  }

  .game__title {
    font-size: 6.5vh;
  }

  .game__fail-count,
  .game__reset {
    font-size: 2.5vh;
  }

  .keyboard-box {
    width: 95vw;
  }

  .game__message {
    font-size: 1.3em;

    .game__hangman {
      height: 45vmin;
      width: 45vmin;
      margin-top: 1vmin;
      border: 1px solid $color;
    }
  }
  }
